<!DOCTYPE html>
<html lang="ja">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<!-- JavaScript -->
		<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/js/cookies.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>

		<title>IoT Platform</title>
	</head>
	<body>
		<!-- Sign in -->
		<div id="signin" class="container">
			<div class="row main">
				<div class="main-login main-center">
					<form id="signin-form" class="form-horizontal signin-form" method="post" action="/api/signin">
						<h2>SignIn</h2>
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>
						<div class="form-group js-show">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10 ">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control js-pass" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
								<div class="row_inner">
									<input class="js-check" type="checkbox"/>
									<label>show password</label>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">SignIn</button>
						</div>
						<div class="login-register">
				            <a href="#" onclick="showSignUp();">SignUp</a>
				        </div>
					</form>
				</div>
			</div>
		</div>

		<!-- Sign up -->
		<div id="signup" class="container">
			<div class="row main">
				<div class="main-login main-center">
					<form id="signup-form" class="form-horizontal signin-form" method="post" action="/api/signup">
						<h2>SignUp</h2>
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group js-show">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control js-pass" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
								<div class="row_inner">
									<input class="js-check" type="checkbox"/>
									<label>show password</label>
								</div>
							</div>
						</div>
						<!--
						<div class="form-group js-show">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control js-pass" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
								<div class="row_inner">
									<input class="js-check" type="checkbox"/>
									<label>show password</label>
								</div>
							</div>
						</div>
						-->
						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">SignUp</button>
						</div>
						<div class="login-register">
				            <a href="#" onclick="showSignIn();">SignIn</a>
				         </div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
