<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Makki Template</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <article>
        <div class="site-title">
            <h1>Welcome to Go Template</h1>
        </div>

        <section class="use-package">
            <h2>Use package</h2>
            <ul>
                <li>
                    <div class="item-top">
                        <p class="title">gin</p>
                    </div>
                    <div class="item-bottom">
                        <a href="https://github.com/gin-gonic/gin">Go to github</a>
                    </div>
                </li>
                <li>
                    <div class="item-top">
                        <p class="title">golem</p>
                    </div>
                    <div class="item-bottom">
                        <a href="https://github.com/trevex/golem">Go to github</a>
                    </div>
                </li>
                <li>
                    <div class="item-top">
                        <p class="title">gorm</p>
                    </div>
                    <div class="item-bottom">
                        <a href="https://github.com/jinzhu/gorm">Go to github</a>
                    </div>
                </li>
                <li>
                    <div class="item-top">
                        <p class="title">sql-migrate</p>
                    </div>
                    <div class="item-bottom">
                        <a href="https://github.com/rubenv/sql-migrate">Go to github</a>
                    </div>
                </li>
            </ul>
        </section>

        <section class="creater-container">
            <h2>Creater</h2>
            <p class="creater-name">Katsuramaki Taiki / HAL osaka</p>
        </section>

        <section class="git-hub">
            <h2>Github</h2>
            <ul>
                <li><a href="https://github.com/makki0205/go_template">makki0205/go_template</a></li>
            </ul>
        </section>

    </article>
        
    <footer>
        <p class="character-image">
            <img src="image/go-phar.png" alt="character image">
        </p>
        <small>
            &copy; 2017 Katsuramaki Taiki
        </small>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>